body{
	font-family: verdana,geneva , sans-serif;
	
}
h1{
	color:red;
	font-family: georgia, times, serif;
	font-size:xx-larger;
}
#comune{
	border: 1px solid #ccc;
	float: left;
	width: 10%;
	margin-top:3%; 
	border: ;
	padding:;
}
#mappa{
	margin: 0px;
	border: 1px solid #ccc;
	float: right;
	width: 20%;
}
#storia{
	
}
#geografia{
	
}
#dati{
	
}
p{
	margin-left: 10%;
	margin-right:10%;
}
h2{
	margin-left: 10%;
	margin-right:10%;
}
