//index.css
nav {
   
   background-color:green;   /* Arezzo, index */
   width:200px;   /* Arezzo, index */
   position:absolute;   /* Arezzo, index */
   top:0;   /* Arezzo, index */
   left:0;   /* Arezzo, index */
   bottom: 0;    /* Arezzo, index */
   height: 100%;   /* Arezzo, index */
   overflow: hidden;    /* Arezzo, index */
}
nav a{
   color:white;   /* Arezzo, index */
   text-decoration:none;   /* Arezzo, index */
}
article{
   font-family: Verdana,sans-serif;   /* Arezzo, index */
   font-size: 15px;   /* Arezzo, index */
   left:200px;   /* Arezzo, index */
   padding:10px;   /* Arezzo, index */
   position:fixed;   /* Arezzo, index */
   top: 0;    /* Arezzo, index */
   right: 0;   /* Arezzo, index */
   bottom: 0;   /* Arezzo, index */
   overflow: auto;    /* Arezzo, index */
   background: #fff;   /* Arezzo, index */
}
