body{
background-color: rgb(204, 204, 255);
}

h1{
text-align: center;
}

h2{
text-align:center;
}

#titolo{
position: fixed;
right:62px;
top:15px;
}

img{
    position: fixed;
    right: 25px;
    width: 128px;
    height: 128px;
}

#stemma{
    top: 40px;
}

#regione{
    top: 180px;
    }

#testo{
    margin-right:175px;
    border-right: 2px solid rgb(0,0,50);
}

#side{
    position: fixed;
    right: 3px;
    top:330px;
}

a{
    color:rgb(80,80,80);
    text-decoration: none;
}

hr {
     border: 1px solid rgb(0,0,50);
}
