//Monterchi
#stemma {
   float: left;   /* Castiglion Fibocchi, Monte_San_Savino, Monterchi, Sinalunga */
   
}
   
#carta   {
   float: right;
   
}
   
#storia {
   width:800px;   /* Chiusi, Monterchi */
   /*background-color:grey;*/
   margin-left: 200px;
}
   
#comuni {
   float: right;   /* Castiglion Fibocchi, Monterchi */
   
}
   
   
